/*

  THIS FILE IS FOR PAGE LAYOUT AND GLOBAL STYLES ONLY

*/

/*
font family: Open Sans
buttons color: #fa7c30
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  width: 70%;
  margin: auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
}

.btn {
  border: none;
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

.btn-primary {
  background-color: #fa7c30;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
}

.footer-section {
  background-color: #161418;
  color: #ffffff;
}
